{% extends "hydro_var_monitor/base.html" %}

{% load static %}

{% block header_buttons %}
    <!-- <button  id="instructions" type="button" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#myModal" ><i class="bi bi-info-circle"></i></button> -->
    <div class="header-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Instructions">
        <a data-bs-toggle="modal" data-bs-target="#myModal">
            <i class="bi bi-info-circle-fill"></i>
        </a>
    </div>
{% endblock %}

{% block app_navigation_items %}

    {% if lang == "en" %}
        {% include "hydro_var_monitor/home_language_components/en/sidebar.html" %}
    {% elif lang == "es" %}
        {% include "hydro_var_monitor/home_language_components/es/sidebar.html" %}
    {% endif %}


{% endblock %}

{% block app_content %}
    <div id="map"></div>
    <div id="loading-icon">
        <img src="{% static 'hydro_var_monitor/images/loader.gif' %}"/>
    </div>
{% endblock %}

{% block after_app_content %}
    {# Chart Modals #}

    <div class="modal fade" id="chart_modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="title_modal">
                        <h2 style="text-align: center">Las Tendencias con el Tiempo <span id="request-status"
                                                                                          class="load-status"/></h2>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>

                <div class="modal-body">

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="forecast">
                            <div class="panel panel-default">
                                <div id="chart"></div>
                                <div id="forecast-chart"></div>
                                <div id="forecast-table"></div>
                            </div>
                        </div> <!-- /.tab-pane -->

                        <div role="tabpanel" class="tab-pane" id="flow_duration">
                            <div class="panel panel-default">
                                <div id='flowduration-chart' class="panel-body"></div>
                            </div>
                        </div><!-- /.tab-pane -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button id="download" type="button" class="btn btn-primary">Descargar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            {% if lang == "en" %}
                {% include "hydro_var_monitor/home_language_components/es/instructions.html" %}
            {% elif lang == "es" %}
                {% include "hydro_var_monitor/home_language_components/es/instructions.html" %}
            {% endif %}

        </div>
    </div>
    <div id="errorModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    <p>Por favor elimine la entrada anterior.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
    <div id="lat-lon-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Poner Latitud y Longitud </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="lat" class="col-form-label">Longitud:</label>
                            <input type="text" class="form-control" id="lat">
                        </div>
                        <div class="form-group">
                            <label for="lon" class="col-form-label">Latitud:</label>
                            <input type="text" class="form-control" id="lon">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="save" type="button" class="btn btn-outline-secondary">Guardar</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


{% block content_dependent_styles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
          integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <link href="{% static 'hydro_var_monitor/css/main.css' %}" rel="stylesheet"/>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    {% csrf_token %}
    <script>
        const URL_GETMAPID = "{% url 'hydro_var_monitor:get-map-id' %}"
        const URL_GETPLOT = "{% url 'hydro_var_monitor:get-plot' %}"
        const URL_COMPARE = "{% url 'hydro_var_monitor:compare' %}"
        const URL_GETPREDEFINED = "{% url 'hydro_var_monitor:get_predefined' %}"
        const SOURCES = JSON.parse('{{ sources|safe }}')
    </script>
    <script>
        var staticGeoJSON = "{% static base_name|add:'hydro_var_monitor/geojson/' %}";
    </script>
    <script src='https://cdn.plot.ly/plotly-2.12.1.min.js'></script>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
            integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
            crossorigin=""></script>
    <!-- <script src="{% static 'hydro_var_monitor/js/regionIndex.js' %}" type="text/javascript"></script> -->
    <script src="{% static 'hydro_var_monitor/js/main.js' %}" type="text/javascript" defer></script>
    <!-- <script type="module" src="main.js"></script> -->
    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@3.0.4/dist/esri-leaflet.js"
            integrity="sha512-oUArlxr7VpoY7f/dd3ZdUL7FGOvS79nXVVQhxlg6ij4Fhdc4QID43LUFRs7abwHNJ0EYWijiN5LP2ZRR2PY4hQ=="
            crossorigin=""></script>
    <!-- Load Esri Leaflet Vector from CDN -->
    <script src="https://unpkg.com/esri-leaflet-vector@3.1.1/dist/esri-leaflet-vector.js"
            integrity="sha512-7rLAors9em7cR3/583gZSvu1mxwPBUjWjdFJ000pc4Wpu+fq84lXF1l4dbG4ShiPQ4pSBUTb4e9xaO6xtMZIlA=="
            crossorigin=""></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
{% endblock %}